<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Add cassette</title>
</head>
<body>
<form action="/createNewUser" method="post" th:object="${newUser}">
    <div class="container">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" th:field="*{role}" required>
                <option th:each="role: ${T(pl.wojtas.cassette_rental.model.Role).values()}"
                        th:value="${role}"
                        th:text="${role}">
                </option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

</body>
</html>